.GameCard{
    display: inline-block;
    opacity: .1 1.0;
    size: 100px;
    image-rendering: round;  
     border: 1px solid black; 
    border-radius: 20%; 
    padding: 30px;
    padding-bottom: 30px;
    padding-top: 30px; 

}

img {
    height: 200px; 
    width: auto; 
    border-radius: 39px;
    border: 1px solid;
    box-shadow: -1px 3px 12px 5px rgba(0, 0, 0, .4);
}

.imgUpd {
    margin: 10px auto; 
}